import com.squareup.moshi.Json


enum class {{classname}} {
{{#allowableValues}}{{#enumVars}}
    @Json(name = {{{value}}}) {{{value}}}{{^-last}},{{/-last}}{{#-last}};{{/-last}}
{{/enumVars}}{{/allowableValues}}
}
